<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Please log in</title>
</head>
<body>

    <form action="track_me" method="post">
        <input type="text" name="username"><br>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
<!--<h1 th:text="${'welcome, ' + session.user.name}"></h1>-->
<!--<h1 th:text="${'the number of visits is ' + session.user.visits}"></h1>-->
</body>
</html>