<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>visits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<head>
    <meta charset="UTF-8">
    <title th:text="${'the number of visits is ' + session.user.visits}"></title>
</head>
<body>
    <h1 th:text="${'welcome, ' + session.user.name}"></h1>
    <h1 th:text="${'the number of visits is ' + session.user.visits}"></h1>
</body>
</html>